WebService/09_soa_web/src/main/java/sos/haruhi/ws/webservice/ws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0 svn-revision#3528ea595bd29309f69172d231bbce272d21035c. --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sos.haruhi.ws/test/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://sos.haruhi.ws/test/">
    <!-- TYPE -->
    <!-- 定义schema，通过tns引用该schema中的元素 -->
    <wsdl:types>

        <!-- schema import 引入 -->
        <!--<xsd:schema>
            &lt;!&ndash;<xsd:import namespace="http://sos.haruhi.ws/test/" schemaLocation="service.xsd"/>&ndash;&gt;

        </xsd:schema>-->
        <!-- schema include 引入 -->
        <xsd:schema targetNamespace="http://sos.haruhi.ws/test/">
            <!--<xsd:include schemaLocation="user.xsd"/>-->
            <!--手工编写 schema 文件-->

            <xsd:element name="add" type="tns:add"/>
            <xsd:element name="addResponse" type="tns:addResponse"/>
            <xsd:element name="del" type="tns:del"/>
            <xsd:element name="delResponse" type="tns:delResponse"/>
            <xsd:element name="list" type="tns:list"/>
            <xsd:element name="listResponse" type="tns:listResponse"/>
            <xsd:element name="login" type="tns:login"/>
            <xsd:element name="loginResponse" type="tns:loginResponse"/>
            <!-- 异常类 -->
            <xsd:element name="UserException" type="tns:UserException"/>
            <xsd:element name="license" type="tns:license"/>

            <!--手工编写 schema 文件-->

            <xsd:complexType name="add">
                <xsd:sequence>
                    <xsd:element name="user" type="tns:user"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="user">
                <xsd:sequence>
                    <xsd:element name="username" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element name="nickname" type="xsd:string"/>

                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="addResponse">
            </xsd:complexType>

            <xsd:complexType name="del">
                <xsd:sequence>
                    <xsd:element name="username" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="delResponse">
            </xsd:complexType>

            <xsd:complexType name="list">
            </xsd:complexType>

            <xsd:complexType name="listResponse">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="user" type="tns:user"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="login">
                <xsd:sequence>
                    <xsd:element name="username" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="loginResponse">
                <xsd:sequence>
                    <xsd:element name="user" type="tns:user"/>
                </xsd:sequence>
            </xsd:complexType>

            <!--关于异常的封装-->
            <xsd:complexType name="UserException">
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <!--关于权限控制（简单的） header-->
            <xsd:complexType name="license">
                <xsd:sequence>
                    <xsd:element name="registerUser" type="tns:user"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>




    </wsdl:types>


    <!-- MESSAGE -->
    <wsdl:message name="add">
        <wsdl:part element="tns:add" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="parameters"/>
    </wsdl:message>
    <!-- 为license创建新的message -->
    <!--<wsdl:message name="license">
        <wsdl:part name="license" element="tns:license"></wsdl:part>
    </wsdl:message>-->

    <wsdl:message name="del">
        <wsdl:part element="tns:del" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="delResponse">
        <wsdl:part element="tns:delResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="list">
        <wsdl:part element="tns:list" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="listResponse">
        <wsdl:part element="tns:listResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="login">
        <wsdl:part element="tns:login" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="loginResponse">
        <wsdl:part element="tns:loginResponse" name="parameters"/>
    </wsdl:message>

    <!--为异常设置 Prottype 和 Binding-->
    <wsdl:message name="UserException">
        <wsdl:part element="tns:UserException" name="fault"/>
    </wsdl:message>

    <!--为header 权限设置 Prottype 和 Binding-->
    <wsdl:message name="license">
        <wsdl:part element="tns:license" name="license"/>
    </wsdl:message>

    <!-- PORTTYPE 指定接口和方法 -->
    <wsdl:portType name="IUserService">
        <wsdl:operation name="add">
            <wsdl:input message="tns:add"/>
            <wsdl:output message="tns:addResponse"/>
            <wsdl:fault name="UserException" message="tns:UserException"/>
        </wsdl:operation>
        <wsdl:operation name="del">
            <wsdl:input message="tns:del"/>
            <wsdl:output message="tns:delResponse"/>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input message="tns:list"/>
            <wsdl:output message="tns:listResponse"/>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input message="tns:login"/>
            <wsdl:output message="tns:loginResponse"/>
            <wsdl:fault name="UserException" message="tns:UserException"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- BINDING 指定编码方式 -->
    <wsdl:binding name="UserServiceSOAPBinding" type="tns:IUserService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <wsdl:input>
                <!-- add方法的header中加入license消息 -->
                <!--<soap:header use="literal" part="license" message="tns:license"></soap:header>-->
                <soap:body use="literal"/>
                <soap:header message="tns:license" part="license" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserException">
                <soap:fault name="UserException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="del">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="list">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="login">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserException">
                <soap:fault name="UserException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <!--
       SERVICE服务
       注意：service name必须与wsdl definition中的name一致
     -->
    <wsdl:service name="UserService">
        <wsdl:port binding="tns:UserServiceSOAPBinding" name="UserServicePort">
            <!-- 指定服务发布的地址 -->
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>