WebService/08_wsdl/src/main/java/META-INF/wsdl/my.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.example.org/my/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="myServiceImplService" targetNamespace="http://www.example.org/my/">
    <!-- TYPE -->
    <wsdl:types>
        <!-- 定义schema，通过tns引用该schema中的元素 -->
        <xsd:schema targetNamespace="http://www.example.org/my/">
            <xsd:element name="add" type="tns:addType"/>
            <xsd:element name="addResponse" type="tns:addResponseType"/>
            <!-- 为license创建element元素 -->
            <xsd:element name="license" type="xsd:string"/>

            <xsd:complexType name="addType">
                <xsd:sequence>
                    <xsd:element name="a" type="xsd:int"/>
                    <xsd:element name="b" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="addResponseType">
                <xsd:sequence>
                    <xsd:element name="addResult" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>

    <!-- MESSAGE -->
    <wsdl:message name="add">
        <wsdl:part element="tns:add" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:addResponse" name="parameters"/>
    </wsdl:message>
    <!-- 为license创建新的message -->
    <wsdl:message name="license">
        <wsdl:part name="license" element="tns:license"></wsdl:part>
    </wsdl:message>

    <!-- PORTTYPE 指定接口和方法 -->
    <wsdl:portType name="IMyservice">
        <wsdl:operation name="add">
            <wsdl:input message="tns:add"/>
            <wsdl:output message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- BINDING 指定编码方式 -->
    <wsdl:binding name="MyServiceImplPortBinding" type="tns:IMyservice">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <wsdl:input>
                <!-- add方法的header中加入license消息 -->
                <soap:header use="literal" part="license" message="tns:license"></soap:header>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!--
       SERVICE服务
       注意：service name必须与wsdl definition中的name一致
     -->
    <wsdl:service name="MyServiceImplService">
        <wsdl:port binding="tns:MyServiceImplPortBinding" name="MyServiceImplPort">
            <!-- 指定服务发布的地址 -->
            <soap:address location="http://localhost:7777/ms"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>