WebService/03_xml/src/main/java/com/haruhi/xml/classroom.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT classroom (claName, grade, students)>
<!ATTLIST classroom id ID #REQUIRED>
<!ELEMENT claName (#PCDATA)>
<!ELEMENT grade (#PCDATA)>
<!ELEMENT students (student+)>
<!ELEMENT student (id, stuName, password, age)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT stuName (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ELEMENT age (#PCDATA)>