WebService/ws_ii/src/main/java/com/haruhi/ws/ws.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.haruhi.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.haruhi.com/" name="ServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.haruhi.com/" schemaLocation="http://localhost:8888/ws?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"></part>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"></part>
</message>
<message name="min">
<part name="parameters" element="tns:min"></part>
</message>
<message name="minResponse">
<part name="parameters" element="tns:minResponse"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<portType name="IService">
<operation name="add">
<input wsam:Action="http://ws.haruhi.com/IService/addRequest" message="tns:add"></input>
<output wsam:Action="http://ws.haruhi.com/IService/addResponse" message="tns:addResponse"></output>
</operation>
<operation name="min">
<input wsam:Action="http://ws.haruhi.com/IService/minRequest" message="tns:min"></input>
<output wsam:Action="http://ws.haruhi.com/IService/minResponse" message="tns:minResponse"></output>
</operation>
<operation name="login">
<input wsam:Action="http://ws.haruhi.com/IService/loginRequest" message="tns:login"></input>
<output wsam:Action="http://ws.haruhi.com/IService/loginResponse" message="tns:loginResponse"></output>
</operation>
</portType>
<binding name="ServiceImplPortBinding" type="tns:IService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="min">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="ServiceImplService">
<port name="ServiceImplPort" binding="tns:ServiceImplPortBinding">
<soap:address location="http://localhost:8888/ws"></soap:address>
</port>
</service>
</definitions>